* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.dashboard {
  background-color: rgba(226, 226, 226, 0.2);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .app-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #2196f3;
  color: #fff;
}

.dashboard .app-bar .app-bar-title {
  padding-left: 50px;
  font-size: 35px;
  margin-right: 50px;
}

.dashboard .app-bar button {
  outline: none;
  border: none;
  margin-right: 30px;
  background-color: inherit;
  height: 100px;
  color: #fff;
  font-size: 28px;
}

.dashboard .app-bar button:hover {
  cursor: pointer;
}

.dashboard .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 100px);
  width: 85%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f9f9;
}

.dashboard .inner .setting-please {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.dashboard .inner .setting-please .container {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
  height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dashboard .inner .setting-please .container .cog-icon-container {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #42a5f5;
  margin-bottom: 50px;
}

.dashboard .inner .setting-please .container .cog-icon-container:hover {
  background: #2196f3;
}

.dashboard .inner .setting-please .container .cog-icon-container img {
  width: 80px;
  height: 80px;
}

.dashboard .inner .section {
  padding: 20px;
  width: 90%;
}

.dashboard .inner .section .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard .inner .section .boxes.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dashboard .inner .section .boxes.column div:first-child {
  margin-bottom: 100px;
}

.dashboard .inner .section .half {
  width: 50%;
}

.dashboard .inner .section .half-less {
  width: 46%;
}

.dashboard .inner .section .huge {
  font-size: 55px;
}

.dashboard .inner .section .box {
  border-radius: 10px;
}

.dashboard .inner .section .title {
  margin-top: 45px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.dashboard .inner .section .title .noti-wrapper {
  margin-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dashboard .inner .section .title .noti-wrapper .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  background-color: #2196f3;
  margin-right: 45px;
}

.dashboard .inner .section .title .noti-wrapper .icon-wrapper img {
  width: 60%;
  height: 60%;
}

.dashboard .inner .section .title .text-container .text {
  font-size: 28px;
}

.dashboard .inner .section .title .text-container .text .large {
  font-size: 39px;
}

.dashboard .inner .section .title .text-container .text .small {
  font-size: 24px;
}

.dashboard .inner .section .title.blue-1 {
  background-color: rgba(79, 195, 247, 0.6);
}

.dashboard .inner .section .title.blue-2 {
  background-color: rgba(100, 181, 246, 0.6);
}

.dashboard .inner .section .with-border {
  border: 1px solid #2c3e50;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 10px;
}

.dashboard .inner .section .with-border .column {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.dashboard .inner .section .main {
  padding: 20px;
  padding-left: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: auto;
  min-height: calc(100vh - 700px);
  margin-bottom: 35px;
}

.dashboard .inner .section .main::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  margin-right: -50px;
}

.dashboard .inner .section .main::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}

.dashboard .inner .section .main::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
}

.dashboard .inner .section .main .check-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .inner .section .main .check-item:not(last-child) {
  margin-bottom: 30px;
}

.dashboard .inner .section .main .check-item span {
  font-size: 25px;
}

.dashboard .inner .section .main .check-item .user-input {
  margin-left: 20px;
  margin-right: 10px;
  width: 60px;
  font-size: 25px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
}

.dashboard .inner .section .main .check-item .save {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 40px;
  background-color: #2196f3;
  color: #fff;
  font-size: 15px;
}

.dashboard .inner .section .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 25px;
  height: 150px;
  background-color: rgba(220, 231, 117, 0.8);
}

.dashboard .inner .section .tree-box {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dashboard .inner .section .tree-box .box-title {
  font-size: 25pt;
  font-weight: bold;
}

.dashboard .inner .section .tree-box .trees {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 25pt;
}

.dashboard .inner .section .tree-box .tree-description {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.dashboard .usage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.dashboard .usage:not(:last-child) {
  margin-bottom: 40px;
}

.dashboard .usage .main-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.dashboard .usage .usage-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  margin-right: 65px;
  width: 200px;
}

.dashboard .usage .usage-detail {
  font-size: 21px;
}

.dashboard .alert-log {
  margin-bottom: 10px;
}

.dashboard .alert-log .date {
  font-size: 25pt;
  margin-right: 10px;
}

.dashboard .alert-log .content {
  font-size: 20pt;
}
/*# sourceMappingURL=index.css.map */